@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="flex-columns">
    <div>
        <h1>Column One</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at eros a risus interdum ornare. Proin congue porttitor metus, et hendrerit massa mattis ac. Nam rhoncus, orci non sodales feugiat, quam ligula elementum ante, ac vestibulum urna sem eu massa. Vivamus vulputate enim purus, vitae gravida ligula dictum sed. Suspendisse potenti. Nulla bibendum massa quis pretium placerat. Etiam luctus porta fringilla. Praesent turpis velit, tempus vitae convallis nec, molestie at purus. Donec sit amet sem ut ex porta sodales. Maecenas rutrum aliquet orci quis mollis. Nulla maximus aliquam odio, vitae elementum nisi dapibus non. In sapien leo, porttitor eu hendrerit ut, sollicitudin ut nibh. Duis congue convallis nisi ut congue. Nunc a finibus diam. Vivamus bibendum risus et nunc fringilla, eget bibendum orci mollis.</p>
    </div>
    <div>
        <h1>Column Two</h1>
        <p>Quisque a metus tempor, interdum ipsum sit amet, dictum diam. Etiam consectetur velit lectus. Aenean aliquet ligula a libero convallis semper. Donec venenatis dolor ut erat vehicula, ut ornare eros lobortis. Nullam libero leo, iaculis sed pharetra quis, faucibus vitae orci. Quisque sit amet gravida lorem, in suscipit magna. Duis egestas auctor ex, sollicitudin molestie erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec condimentum id mauris at tempus. Nullam ac mollis lorem. Aenean odio arcu, aliquet vitae facilisis ut, luctus eget ante. Nunc malesuada pretium eros, vitae dignissim erat maximus dignissim. Praesent aliquet posuere diam, eget mollis tellus auctor at.</p>
    </div>
    <div>
        <h1>Column Three</h1>
        <p>Cras sed porttitor nibh. Cras quis est sed turpis maximus imperdiet id ac diam. Vivamus aliquam turpis sem, in molestie augue tincidunt hendrerit. Nam aliquet, diam et semper fringilla, magna lectus suscipit justo, non pretium nisl tortor sed lectus. Aliquam euismod faucibus ultricies. Praesent non sodales ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce nec ligula semper, ultricies mi dapibus, auctor purus. Quisque quis convallis lectus, in ultricies massa. Proin accumsan laoreet ante at facilisis. Vivamus varius felis id turpis sodales mollis. Curabitur facilisis augue a lorem mattis malesuada. Sed scelerisque laoreet mauris non suscipit. Aliquam ante tortor, pulvinar a est et, cursus vulputate felis.</p>
    </div>
</div>
<div class="clearfix"></div>
